{% for issue in issues %}
  {% if issue.status == 'issued' %}
    <tr class="border-b">
      <td class="px-4 py-3 font-medium">{{ issue.book.title }}</td>
      <td class="px-4 py-3">
        <span class="bg-green-100 text-green-700 px-2 py-1 rounded text-xs">Issued</span>
      </td>
      <td class="px-4 py-3">{{ issue.issue_date }}</td>
      <td class="px-4 py-3">{{ issue.return_date }}</td>
      {% if issue.fine %}
        <td class="px-4 py-3 text-red-600">₹{{ issue.fine.ammount }}</td>
      {% else %}
        <td class="px-4 py-3 text-green-600">₹0</td>
      {% endif %}

      <td class="px-4 py-3">
        {% if issue.fine and not issue.fine.is_paid %}
          <button onclick="openPayModal('single', {{ issue.fine.ammount }}, {{ issue.fine.id }})" class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 text-xs">Pay Fine</button>
        {% else %}
          -
        {% endif %}
      </td>
    </tr>

    <!-- Requested Book -->
  {% elif issue.status == 'requested' %}
    <tr class="border-b">
      <td class="px-4 py-3 font-medium">{{ issue.book.title }}</td>
      <td class="px-4 py-3">
        <span class="bg-yellow-100 text-yellow-700 px-2 py-1 rounded text-xs">Requested</span>
      </td>
      <td class="px-4 py-3">-</td>
      <td class="px-4 py-3">-</td>
      <td class="px-4 py-3">₹0</td>
      <td class="px-4 py-3 text-gray-400 text-xs">Waiting Approval</td>
    </tr>
  {% else %}
    <tr class="border-b">
      <td class="px-4 py-3 font-medium">{{ issue.book.title }}</td>
      <td class="px-4 py-3">
        <span class="bg-blue-100 text-white-700 px-2 py-1 rounded text-xs">Returned</span>
      </td>
      <td class="px-4 py-3">{{ issue.issue_date }}</td>
      <td class="px-4 py-3">{{ issue.return_date }}</td>
      {% if issue.fine %}
        <td class="px-4 py-3 text-red-600">₹{{ issue.fine.ammount }}</td>
      {% else %}
        <td class="px-4 py-3 text-green-600">₹0</td>
      {% endif %}

      <td class="px-4 py-3">
        {% if issue.fine and not issue.fine.is_paid %}
          <button onclick="openPayModal('single', {{ issue.fine.ammount }}, {{ issue.fine.id }})" class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 text-xs">Pay Fine</button>
        {% elif issue.fine and issue.fine.is_paid %}
          <span class="px-3 py-1.5 bg-green-100 text-green-700 rounded text-xs font-semibold">Paid</span>
        {% else %}
          -
        {% endif %}
      </td>
    </tr>
  {% endif %}
{% endfor %}
